<p> Ceci est votre email reçu pour un demande de contact </p>
<p>
Nom du demandeur : {{ contact.nom }}
</p>
<p>
Email du demandeur : {{ contact.email }}
</p>
<p>
Objet : {{ contact.objet }}
</p>
<p>
Message du demandeur : {{ contact.message }}
</p>
<p>
<a href="{{ url('home') }}">Retourner sur le site</a>
</p>